h1, p {
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
  margin-bottom: 4px;
  font-size: 2.5rem;
  color:floralwhite;
}

#square {
  height: 150px;
  width: 150px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 8rem;
  text-align: center;
}

#gameboard {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  margin: 0 auto;
justify-content: center;
}

#win {
  text-align: center;
  font-size: 4rem;
  text-shadow: 2px 2px rgb(250, 7, 7);
  font-family: 'Grenze Gotisch', cursive;
  margin-top: 7px;
}

#resetButton {
  margin-left: 10px;
}

#box {
  background-image: url(./img/haven.png);
  background-size: cover;
  background-repeat: no-repeat;

  
}